body {
  background-color: white
}

h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

ol li {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

blockquote {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

a:hover {
  opacity: .8
}

.fr_blue_button {
  float: none;
  display: block;
  width: 12rem;
  background-color: #0089cf;
  min-height: 4rem;
  border-radius: 1rem
}

.fr_blue_button.fr-text p {
  line-height: 4rem;
  text-align: center;
  color: red
}

.fr_text_bright_left {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  position: relative
}

.fr_text_bright_left.fr-text h1 {
  font-family: Roboto;
  font-weight: 300;
  color: white
}

.fr_text_bright_left.fr-text p {
  font-weight: 200;
  text-align: left;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_left.fr-text h6 {
  color: white
}

.fr_text_bright_left.fr-text h5 {
  color: white
}

.fr_text_bright_left.fr-text h4 {
  color: white
}

.fr_text_bright_left.fr-text h2 {
  color: white
}

.fr_text_bright_left.fr-text h3 {
  color: white
}

.fr_text_bright_left.fr-text blockquote {
  font-family: Roboto;
  color: white
}

.fr_button_fill_blue {
  float: none;
  display: block;
  width: 90%;
  font-family: Roboto;
  text-align: center;
  margin-top: 2rem;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #3a3a3a;
  background-color: #ffcd1c;
  max-width: 270px;
  border-radius: 4px
}

.fr_button_fill_blue.fr-text p {
  text-align: center
}

.fr_navigation_text_light {
  display: inline-block;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.35em;
  text-align: center;
  text-decoration: inherit;
  letter-spacing: .01em;
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: white
}

.fr_navigation_text_light.fr-text p {
  font-weight: 400;
  text-align: center;
  color: #3a3a3a
}

.fr_navigation_text_light.fr-text h3 {
  color: white
}

.fr_navigation_text_light.fr-text h1 {
  color: white
}

.fr_navigation_text_light.fr-text h2 {
  color: white
}

.fr_navigation_text_light.fr-text h4 {
  color: white
}

.fr_navigation_text_light.fr-text h5 {
  color: white
}

.fr_navigation_text_light.fr-text h6 {
  color: white
}

.fr_navigation_text_light.fr-text blockquote {
  color: white
}

.fr_text_large_dark_center {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

.fr_text_large_dark_center.fr-text p {
  font-family: Roboto;
  font-size: 1.7em;
  line-height: 1.45;
  text-align: center;
  letter-spacing: .05em;
  color: #2d2d2d
}

.fr_text_large_dark_center.fr-text h5 {
  font-size: 1em;
  text-align: center
}

.fr_text_large_dark_center.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h1 {
  font-size: 4.2em;
  text-align: center
}

.fr_text_large_dark_center.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h4 {
  font-size: 1.8em;
  text-align: center
}

.fr_text_large_dark_center.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text blockquote {
  text-align: center
}

.fr_text_dark_center {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: black
}

.fr_text_dark_center.fr-text h1 {
  text-align: center
}

.fr_text_dark_center.fr-text p {
  text-align: center;
  color: #2d2d2d
}

.fr_text_dark_center.fr-text h3 {
  font-family: Roboto;
  text-align: center
}

.fr_text_dark_center.fr-text h5 {
  text-align: center
}

.fr_text_dark_center.fr-text h2 {
  text-align: center
}

.fr_text_dark_center.fr-text h4 {
  text-align: center
}

.fr_text_dark_center.fr-text h6 {
  text-align: center
}

.fr_text_dark_center.fr-text blockquote {
  font-family: Roboto;
  text-align: center
}

.fr_icon_dark_center {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #2d2d2d
}

.fr_text_dark_1 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  max-width: 800px
}

.fr_text_dark_1.fr-text h1 {
  text-align: center
}

.fr_text_dark_1.fr-text p {
  text-align: center;
  color: black
}

.fr_text_dark_1.fr-text h3 {
  text-align: center
}

.fr_text_dark_1.fr-text h5 {
  text-align: center
}

.fr_text_dark_1.fr-text h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  color: #009dc5
}

.fr_text_dark_1.fr-text h4 {
  text-align: center
}

.fr_text_dark_1.fr-text h6 {
  text-align: center
}

.fr_text_dark_1.fr-text blockquote {
  font-family: Roboto;
  text-align: center
}

.fr_text_bright_1 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  max-width: 800px
}

.fr_text_bright_1.fr-text h1 {
  text-align: center
}

.fr_text_bright_1.fr-text p {
  text-align: center;
  color: white
}

.fr_text_bright_1.fr-text h3 {
  text-align: center
}

.fr_text_bright_1.fr-text h5 {
  text-align: center
}

.fr_text_bright_1.fr-text h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  color: #ffcd1c
}

.fr_text_bright_1.fr-text h4 {
  text-align: center
}

.fr_text_bright_1.fr-text h6 {
  text-align: center
}

.fr_text_bright_1.fr-text blockquote {
  font-family: Roboto;
  text-align: center
}

.fr_estrutura_1 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: black
}

.fr_estrutura_1.fr-text h1 {
  text-align: center
}

.fr_estrutura_1.fr-text p {
  text-align: center;
  color: #3a3a3a
}

.fr_estrutura_1.fr-text h3 {
  font-family: Roboto;
  text-align: center;
  color: #3a3a3a
}

.fr_estrutura_1.fr-text h5 {
  text-align: center
}

.fr_estrutura_1.fr-text h2 {
  text-align: center;
  color: #ffcd1c
}

.fr_estrutura_1.fr-text h4 {
  text-align: center
}

.fr_estrutura_1.fr-text h6 {
  text-align: center
}

.fr_estrutura_1.fr-text blockquote {
  font-family: Roboto;
  text-align: center
}

.fr_text_large_thin_bright_center {
  float: none;
  display: none;
  width: 100%;
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text p {
  font-weight: 200;
  font-size: 1.7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_large_thin_bright_center.fr-text h1 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4.2rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text h2 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text h3 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text h4 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 1.8rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text h5 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text h6 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  color: white
}

.fr_text_large_thin_bright_center.fr-text blockquote {
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  color: white
}

.fr_preco {
  float: none;
  display: block;
  width: 90%;
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: white
}

.fr_preco.fr-text h1 {
  text-align: center;
  color: white
}

.fr_preco.fr-text p {
  text-align: center;
  color: rgba(255, 255, 255, 0.8)
}

.fr_preco.fr-text h3 {
  font-family: Roboto;
  text-align: center;
  color: #ffcd1c
}

.fr_preco.fr-text h5 {
  text-align: center;
  color: white
}

.fr_preco.fr-text h2 {
  text-align: center;
  color: white
}

.fr_preco.fr-text h4 {
  text-align: center;
  color: white
}

.fr_preco.fr-text h6 {
  text-align: center;
  color: white
}

.fr_preco.fr-text blockquote {
  font-family: Roboto;
  text-align: center;
  color: white
}

.fr_endereco {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  color: black;
  max-width: 800px
}

.fr_endereco.fr-text h1 {
  text-align: center
}

.fr_endereco.fr-text p {
  text-align: left;
  color: black
}

.fr_endereco.fr-text h3 {
  text-align: center
}

.fr_endereco.fr-text h5 {
  text-align: center
}

.fr_endereco.fr-text h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  color: #009dc5
}

.fr_endereco.fr-text h4 {
  text-align: center
}

.fr_endereco.fr-text h6 {
  text-align: center
}

.fr_endereco.fr-text blockquote {
  font-family: Roboto;
  text-align: center
}

.fr_endereco2 {
  float: none;
  display: block;
  top: 50%;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  color: black;
  position: absolute;
  max-width: 800px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_endereco2.fr-text h1 {
  text-align: center
}

.fr_endereco2.fr-text p {
  text-align: left;
  color: black
}

.fr_endereco2.fr-text h3 {
  text-align: center
}

.fr_endereco2.fr-text h5 {
  text-align: center
}

.fr_endereco2.fr-text h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  color: #009dc5
}

.fr_endereco2.fr-text h4 {
  text-align: center
}

.fr_endereco2.fr-text h6 {
  text-align: center
}

.fr_endereco2.fr-text blockquote {
  font-family: Roboto;
  text-align: center
}

.fr_endereo {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  position: relative
}

.fr_endereo.fr-text h1 {
  color: white
}

.fr_endereo.fr-text p {
  font-weight: 200;
  font-size: .9rem;
  line-height: 1.4;
  text-align: center;
  color: white
}

.fr_endereo.fr-text h6 {
  color: white
}

.fr_endereo.fr-text h5 {
  color: white
}

.fr_endereo.fr-text h4 {
  text-align: center;
  color: white
}

.fr_endereo.fr-text h2 {
  color: white
}

.fr_endereo.fr-text h3 {
  font-family: Roboto;
  text-align: center;
  color: white
}

.fr_endereo.fr-text blockquote {
  font-family: Roboto;
  color: white
}

.fr_contato {
  float: none;
  display: block;
  width: 100%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  text-decoration: inherit;
  letter-spacing: .01em;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: white;
  background-color: #009dc5;
  min-height: 3rem;
  max-width: 300px;
  border-radius: 4px
}

.fr_regras_rodape {
  float: none;
  display: block;
  width: 90%;
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: white
}

.fr_regras_rodape.fr-text h1 {
  font-family: Montserrat;
  font-size: 2rem;
  text-align: center;
  color: white
}

.fr_regras_rodape.fr-text p {
  font-size: .6rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8)
}

.fr_regras_rodape.fr-text h3 {
  text-align: center;
  color: white
}

.fr_regras_rodape.fr-text h5 {
  text-align: center;
  color: white
}

.fr_regras_rodape.fr-text h2 {
  text-align: center;
  color: white
}

.fr_regras_rodape.fr-text h4 {
  text-align: center;
  color: white
}

.fr_regras_rodape.fr-text h6 {
  text-align: center;
  color: white
}

.fr_regras_rodape.fr-text blockquote {
  font-family: Roboto;
  text-align: center;
  color: white
}

.fr_invista {
  float: none;
  display: block;
  width: 100%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  text-decoration: inherit;
  letter-spacing: .01em;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #1a1a1a;
  background-color: #ffcd1c;
  min-height: 3rem;
  max-width: 300px;
  border-radius: 4px
}

.fr_hero_bg_image_text_left_aligned {
  float: none;
  display: block;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  background-image: url(../images/thumbnail/vq0a9632.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative
}

.fr_hd3_content {
  float: none;
  display: block;
  top: 50%;
  left: 0;
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-repeat: repeat;
  position: absolute;
  right: 0;
  max-width: 1200px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_text_25 {
  max-width: 600px
}

.fr_text_25.fr-text h1 {
  font-family: Roboto
}

.fr_container {
  float: none;
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 157, 197, 0.68);
  background-position: center center;
  background-size: cover;
  position: relative;
  right: 0
}

.fr_nav_with_logo {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.91);
  position: fixed;
  z-index: 2
}

.fr_navigation_dark_with_logo_4 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1000;
  min-height: 60px;
  max-width: 1200px
}

.fr_mobile_toggle_5 {
  float: right;
  display: none;
  min-height: 30px;
  min-width: 30px;
  cursor: pointer
}

.fr_hamburger_icon_8 {
  width: 30px;
  fill: white
}

.fr_items_5 {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px
}

.fr_sign_up_button_5 {
  display: inline-block;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.35em;
  text-align: center;
  text-decoration: inherit;
  letter-spacing: .01em;
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  background-color: #009dc5;
  border-radius: 4px
}

.fr_imagewidget {
  float: left;
  width: 100%;
  vertical-align: bottom;
  margin-top: 18px;
  margin-bottom: 10px;
  max-width: 100px;
  fill: white
}

.fr_4_columns__cards_with_icons {
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-color: #fefefe
}

.fr_gry1_3_column_images_5 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 2);
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 2);
  clear: none;
  max-width: inherit
}

.fr_gry1_image_one_5 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_39 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_gry1_image_one_6 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_40 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_imagewidget_2 {
  width: 100%;
  max-width: 100px
}

.fr_imagewidget_3 {
  width: 100%;
  max-width: 100px
}

.fr_4_columns__cards_with_icons_2 {
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-color: #fefefe
}

.fr_gry1_3_column_images_6 {
  float: none;
  display: block;
  width: 95%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(3n+1) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 3);
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(3n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 3);
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(3n+3) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 3);
  clear: none;
  max-width: inherit
}

.fr_gry1_image_one_7 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_41 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_67 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_8 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_42 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_68 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_9 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_43 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_69 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_10 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_44 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_70 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_11 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_45 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_71 {
  width: 100%;
  max-width: 100px
}

.fr_container_46 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(255, 205, 28, 0.7), rgba(255, 205, 28, 0.7)), url(../images/thumbnail/vq0a9574.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 500px
}

.fr_gry1_image_one_12 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_47 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_72 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_13 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_48 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_73 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_14 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_49 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_74 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_15 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_50 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_75 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_16 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_51 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_76 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_17 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_52 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_77 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_18 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_53 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_78 {
  width: 100%;
  max-width: 100px
}

.fr_gry1_image_one_19 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  min-height: 295px;
  border-radius: 10px
}

.fr_container_54 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image_79 {
  width: 100%;
  max-width: 100px
}

.fr_gallery_split_in_grid {
  background-color: white
}

.fr_gry2_column_images {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.fr_gry2_column_images.fr-grid>.fr-widget {
  float: left
}

.fr_gry2_column_images.fr-grid>.fr-widget:nth-child(5n+1) {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 5);
  clear: left;
  max-width: inherit
}

.fr_gry2_column_images.fr-grid>.fr-widget:nth-child(5n+2) {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0;
  margin-left: 0rem;
  width: calc(100% / 5);
  clear: none;
  max-width: inherit
}

.fr_gry2_column_images.fr-grid>.fr-widget:nth-child(5n+3) {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0;
  margin-left: 0rem;
  width: calc(100% / 5);
  clear: none;
  max-width: inherit
}

.fr_gry2_column_images.fr-grid>.fr-widget:nth-child(5n+4) {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0;
  margin-left: 0rem;
  width: calc(100% / 5);
  clear: none;
  max-width: inherit
}

.fr_gry2_column_images.fr-grid>.fr-widget:nth-child(5n+5) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0rem;
  width: calc(100% / 5);
  clear: none;
  max-width: inherit
}

.fr_gry2_image_one {
  background-image: url(../images/thumbnail/vq0a9568.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_two {
  background-image: url(../images/thumbnail/vq0a9569.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_three {
  background-image: url(../images/thumbnail/vq0a9579.jpg_1200x1800.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_four {
  background-image: url(../images/thumbnail/vq0a9588.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_five {
  background-image: url(../images/thumbnail/vq0a9593.jpg_1200x1800.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_six {
  background-image: url(../images/thumbnail/vq0a9654.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_seven {
  background-image: url(../images/thumbnail/vq0a9628.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_eight {
  background-image: url(../images/thumbnail/vq0a9629.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_3_columns_top_aligned {
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-color: white
}

.fr_gry1_3_column_images_9 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_9.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_9.fr-grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_9.fr-grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_9.fr-grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_gry1_image_one_20 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #009dc5
}

.fr_container_37 {
  margin-right: auto;
  margin-left: auto
}

.fr_imagewidget_4 {
  float: none;
  display: block;
  width: 90px;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  fill: #a7c9d1
}

.fr_gry1_image_one_21 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #009dc5
}

.fr_container_55 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_82 {
  float: none;
  display: block;
  width: 90px;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  fill: #a7c9d1
}

.fr_gry1_image_one_22 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #009dc5
}

.fr_container_56 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_83 {
  float: none;
  display: block;
  width: 90px;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  fill: #a7c9d1
}

.fr_container_57 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(255, 205, 28, 0.7), rgba(255, 205, 28, 0.7)), url(../images/thumbnail/vq0a9596.jpg_1800x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 500px
}

.fr_rodap {
  line-height: 1.4em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-color: #414042;
  min-height: 16rem
}

.fr_wf_2_column_grid_3 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

.fr_wf_2_column_grid_3.fr-grid>.fr-widget {
  float: left
}

.fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 2 - 1 / 2 * 20px);
  clear: left;
  max-width: inherit
}

.fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  width: calc(100% / 2 - 1 / 2 * 20px);
  clear: none;
  max-width: inherit
}

.fr_wf_container_one_3 {
  margin-right: auto;
  margin-left: auto
}

.fr_wf_soc_icons_7 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 100px
}

.fr_wf_soc_icons_7.fr-grid>.fr-widget {
  float: left
}

.fr_wf_soc_icons_7.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 2%;
  width: calc(100% / 2 - 4%);
  clear: left;
  max-width: inherit
}

.fr_wf_soc_icons_7.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 2%;
  width: calc(100% / 2 - 4%);
  clear: none;
  max-width: inherit
}

.fr_icon_tw_5 {
  float: none;
  display: block;
  width: 29.28571428571429%;
  max-height: 64px;
  fill: white
}

.fr_icon_fb_5 {
  float: none;
  display: block;
  width: 29.28571428571429%;
  max-height: 64px;
  fill: white
}

.fr_container_64 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  min-height: 6em;
  max-width: 1000px
}

.fr_image_84 {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100px
}

.fr_html {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_container_65 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #e8e8e8;
  min-height: 12rem
}

.fr_grid_2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em;
  max-width: 1200px
}

.fr_grid_2.fr-grid>.fr-widget {
  float: left
}

.fr_grid_2.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1rem;
  margin-right: .5rem;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 2 - 1 / 2 * 1rem);
  clear: left;
  max-width: inherit
}

.fr_grid_2.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: .5rem;
  width: calc(100% / 2 - 1 / 2 * 1rem);
  clear: none;
  max-width: inherit
}

.fr_container_66 {
  margin-right: auto;
  margin-left: auto;
  min-height: 300px
}

.fr_container_67 {
  float: none;
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/monocromatica-negativa.png_1773x1146.png);
  background-position: center center;
  background-size: contain;
  min-height: 300px
}

.fr_3_columns_top_aligned_3 {
  display: block;
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-color: white
}

.fr_container_68 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_grid_3 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em;
  max-width: 650px
}

.fr_grid_3.fr-grid>.fr-widget {
  float: left
}

.fr_grid_3.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 25px;
  margin-bottom: 0;
  margin-left: 0;
  width: calc(100% / 2 - 1 / 2 * 50px);
  clear: left;
  max-width: inherit
}

.fr_grid_3.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 25px;
  width: calc(100% / 2 - 1 / 2 * 50px);
  clear: none;
  max-width: inherit
}

.fr_container_69 {
  float: none;
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 300px
}

.fr_html_3 {
  float: none;
  display: block;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  position: relative;
  max-height: 300px;
  max-width: 300px;
  overflow: hidden
}

.fr_gry2_image_eight_2 {
  background-image: url(../images/thumbnail/c38ce6eb-9abf-49f3-a7a4-db42d1f9515f.jpg_960x1280.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_gry2_image_eight_3 {
  background-image: url(../images/thumbnail/f27ad888-bda6-406a-9188-af94b1c7d0e8.jpg_960x1280.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem
}

.fr_hamburger_icon_8 .fr-svg-inner {
  padding-bottom: 84.15300546448087%;
  position: relative
}

.fr_icon_tw_5 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_icon_fb_5 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

@media screen and (max-width:1024px) {
  .fr_navigation_text_light {
    display: block;
    text-align: center;
    padding-right: 0;
    padding-left: 0
  }
  .fr_regras_rodape {
    display: block;
    margin-left: 0
  }
  .fr_mobile_toggle_5 {
    display: block
  }
  .fr_hamburger_icon_8 {
    width: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    fill: #3a3a3a
  }
  .fr_items_5 {
    float: none;
    display: block;
    text-align: center;
    clear: both;
    position: absolute;
    max-height: 0
  }
  .fr_sign_up_button_5 {
    margin-top: 10px;
    margin-bottom: 10px
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 49%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 49%;
    clear: none;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(3n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 3 - 2 / 3 * 2%);
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(3n+2) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: 0;
    margin-left: 1%;
    width: calc(100% / 3 - 2 / 3 * 2%);
    clear: none;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(3n+3) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 1%;
    width: calc(100% / 3 - 2 / 3 * 2%);
    clear: none;
    max-width: inherit
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2 - 1 / 2 * 10px);
    clear: left;
    max-width: inherit
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    width: calc(100% / 2 - 1 / 2 * 10px);
    clear: none;
    max-width: inherit
  }
}

@media screen and (max-width:768px) {
  .fr_regras_rodape {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2 - 1 / 2 * 2%);
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 1%;
    width: calc(100% / 2 - 1 / 2 * 2%);
    clear: none;
    max-width: inherit
  }
  .fr_gry2_column_images.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(3n+1) {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 3);
    clear: left;
    max-width: inherit
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(3n+2) {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0;
    margin-left: 0rem;
    width: calc(100% / 3);
    clear: none;
    max-width: inherit
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(3n+3) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0rem;
    width: calc(100% / 3);
    clear: none;
    max-width: inherit
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 1 - 0 / 1 * 10px);
    clear: left;
    max-width: inherit
  }
  .fr_html_3 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
}

@media screen and (max-width:668px) {
  .fr_text_large_dark_center {
    font-size: 1.3em
  }
  .fr_regras_rodape {
    display: block
  }
  .fr_hero_bg_image_text_left_aligned {
    min-height: 550px
  }
  .fr_hd3_content {
    width: 90%
  }
  .fr_container {
    min-height: 550px
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: none;
    max-width: inherit
  }
  .fr_gry2_column_images.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: left;
    max-width: inherit
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: none;
    max-width: inherit
  }
  .fr_gry1_3_column_images_9.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_9.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 1);
    clear: left;
    max-width: inherit
  }
  .fr_wf_soc_icons_7 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_2.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: left;
    max-width: inherit
  }
  .fr_grid_2.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: none;
    max-width: inherit
  }
  .fr_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_3.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: left;
    max-width: inherit
  }
  .fr_grid_3.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: none;
    max-width: inherit
  }
  .fr_html_3 {
    display: block
  }
}

@media screen and (max-width:376px) {
  .fr_endereco2.fr-text p {
    text-align: center
  }
  .fr_regras_rodape {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_hero_bg_image_text_left_aligned {
    min-height: 700px
  }
  .fr_hd3_content {
    width: 90%
  }
  .fr_text_25 {
    width: 100%
  }
  .fr_container {
    min-height: 700px
  }
  .fr_4_columns__cards_with_icons {
    background-color: #ececec
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 1);
    clear: left;
    max-width: inherit
  }
  .fr_container_46 {
    display: none
  }
  .fr_gry2_column_images.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: left;
    max-width: inherit
  }
  .fr_gry2_column_images.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 2);
    clear: none;
    max-width: inherit
  }
  .fr_3_columns_top_aligned {
    background-color: #ececec
  }
  .fr_container_57 {
    display: none
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_wf_2_column_grid_3.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 3.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 1);
    clear: left;
    max-width: inherit
  }
  .fr_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_2.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 1);
    clear: left;
    max-width: inherit
  }
  .fr_container_67 {
    min-height: 150px
  }
  .fr_container_68 {
    position: relative
  }
  .fr_grid_3 {
    display: block;
    width: 300px;
    position: relative
  }
  .fr_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_3.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc(100% / 1);
    clear: left;
    max-width: inherit
  }
  .fr_container_69 {
    min-height: 210px
  }
  .fr_html_3 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
}

.fr_text_432 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_432:hover {
  color: black;
  background-color: #ffcd1c;
  transition-duration: .125s
}

.fr_text_576 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_576:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_text_133 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_133:hover {
  color: #3a3a3a;
  background-color: white;
  transition-duration: .125s
}

.fr_sign_up_button_5 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_sign_up_button_5:hover {
  color: #3a3a3a;
  background-color: #ffcd1c;
  transition-duration: .125s
}

.fr_text03_6 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text03_6:hover {
  color: #b3b3b3;
  transition-duration: .125s
}

.fr_text03_5 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text03_5:hover {
  color: #b3b3b3;
  transition-duration: .125s
}

.fr_text02_5 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text02_5:hover {
  color: #b3b3b3;
  transition-duration: .125s
}

.fr_text02_4 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text02_4:hover {
  color: #b3b3b3;
  transition-duration: .125s
}

.fr_text01_4 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text01_4:hover {
  color: #b3b3b3;
  transition-duration: .125s
}